<head th:fragment="head (title)" th:with="links=${links} ?: ~{}">
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge"
  >
  <title th:text="${title}"></title>
  <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
  <link
    th:rel="stylesheet"
    type="text/css"
    th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
  >
  <link
    rel="stylesheet"
    th:href="@{/css/main.css}"
    type="text/css"
  >
  <script th:src="@{/webjars/htmx.org/2.0.0/dist/htmx.min.js}">
  </script>
  <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
  <script th:src="@{/js/app.js}"></script>
  <script th:replace="${links}"></script>
</head>
